@use "abstracts" as *;

.subheader {
    color: $orange;
    font-weight: 900;
}

.author-card {
    .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $img;
    }

    .profile {
        #profile-name {
            font-weight: 900;
        }
    }
}

.recent-card {
    .btn-comment {
        background-color: $comment !important;

        span {
            font-size: 0.875rem !important;
        }
    }
}

.login-form {
    border: 3px solid $secondary;

    .btn-login {
        background-color: $orange;
        color: $white;
    }

    .btn-login:hover {
        background-color: $orange;
        color: $white;
    }

    .btn-register {
        border: 2px solid $orange;
    }

    .btn-register:hover {
        border: 2px solid $orange;
    }
}

// #fingertips {
//    color: $orange;
//    transform: rotate(-6.58deg);
// }

// .culture-text {
//    .caption {
//       #craft-caption {
//          bottom: 2.25%;
//          left: 5%;
//       }

//       #quality-caption {
//          bottom: 3.25%;
//          right: 2.5%;
//       }

//       .second-row-caption {
//          bottom: 27.25%;
//          left: 5%;
//       }

//       #beautify-caption {
//          bottom: 27.25%;
//          left: 5%;
//       }

//       .third-row-caption {
//          top: 21%;
//          left: 6%;
//       }
//    }
// }

// // Media queries
// //small screens to medium screens
// @media (min-width: 576px) and (max-width: 767.98px) {
//    #fingertips {
//       transform: rotate(0deg) !important;
//    }

//    #home-3 {
//       width: 451px !important;
//       height: 561px !important;
//    }

//    .col-md-8 {
//       width: 64% !important;
//    }

//    .culture-text {
//       .img-size {
//          width: 157% !important;
//          height: 100% !important;
//       }

//       .caption {
//          #craft-caption {
//             bottom: 6.25% !important;
//             left: 3% !important;
//          }

//          #quality-caption {
//             bottom: 6.25% !important;
//             right: 66.5% !important;
//          }

//          .second-row-caption {
//             bottom: 16.25% !important;
//             left: 5% !important;
//          }

//          #beautify-caption {
//             bottom: 16.25% !important;
//             left: 3% !important;
//          }

//          .third-row-caption {
//             top: 76%;
//             left: 3%;
//          }

//          #nk-caption {
//             top: 10% !important;
//             left: 3% !important;
//          }
//       }

//    }
// }

// // medium to large
// @media (min-width: 768px) and (max-width: 991.98px) {
//    .col-md-8 {
//       width: 64% !important;
//    }

//    #craft-caption {
//       bottom: 6.25% !important;
//       left: 3% !important;
//    }

//    #quality-caption {
//       bottom: 6.25% !important;
//       right: 3% !important;
//    }

//    .second-row-caption {
//       bottom: 10% !important;
//       left: 6% !important;
//    }

//    #beautify-caption {
//       bottom: 5.25% !important;
//       left: 5% !important;
//    }

//    .third-row-caption {
//       top: 13% !important;
//       left: 7% !important;
//    }

//    #nk-caption {
//       top: 10% !important;
//       left: 4% !important;
//    }

// }

// // large to extra large screens
// @media (min-width: 992px) and (max-width: 1399.98px) {

//    .culture-text {
//       .caption {
//          #craft-caption {
//             bottom: 6.25% !important;
//             left: 3% !important;
//          }

//          #quality-caption {
//             bottom: 6.25% !important;
//             right: 1.5% !important;
//          }

//          .second-row-caption {
//             bottom: 5.25% !important;
//             left: 5% !important;
//          }

//          #beautify-caption {
//             bottom: 5.25% !important;
//             left: 5% !important;
//          }

//          .third-row-caption {
//             top: 10% !important;
//             left: 8% !important;
//          }
//       }

//    }
// }

// // smaller screens
// @media (max-width: 575.98px) {
//    .culture-text {
//       .caption {
//          #craft-caption {
//             bottom: 6.25% !important;
//             left: 3% !important;
//          }

//          #quality-caption {
//             bottom: 6.25% !important;
//             right: 54.5% !important;
//          }

//          .second-row-caption {
//             bottom: 9.25% !important;
//             left: 5% !important;
//          }

//          #beautify-caption {
//             bottom: 10.25% !important;
//             left: 3% !important;
//          }

//          .third-row-caption {
//             top: 68% !important;
//             left: 3% !important;
//          }

//          #nk-caption {
//             top: 10% !important;
//             left: 3% !important;
//          }
//       }
//    }

//    .img-responsive {
//       max-width: 100% !important;
//       height: auto !important;

//    }
// }
