@use "abstracts" as *;

.btn {
   background-color: transparent !important;
   border: 4.73847px solid $white !important;
   transition-duration: 300ms;
   color: $white !important;
}

.btn:focus {
   box-shadow: none !important;
}

.btn:hover {
   color: $orange !important;
   border: 4.73847px solid $orange !important;
}