@use "abstracts" as *;

textarea {
    resize: none !important;
}

.form-floating > label {
    color: $floatLabel;
}

input[type=text],
input[type=password] {
    background-color: transparent;
    border: 1px solid $white;
}
