$primary: #121212;
$secondary: #1D1D1D;
$white: #ffffff;
$orange: #ff5e15;
$subheader: #747474;
$img: #D9D9D9;
$comment: #393939;
$forms: #C6C6C6;
$floatLabel: #717171;
$dropzone: #979797;
$tableHead: #f5f5f5;
$tableData: #091e42;
$tableBGButton: #eaeaea;
$tableColorButton: #343434;
$table: #E2E8F0;
