@font-face {
    font-family: Barlow Semi Condensed;
    src: url("/fonts/BarlowSemiCondensed-Regular.ttf");
}

@font-face {
    font-family: RockSalt;
    src: url("/fonts/RockSalt-Regular.ttf");
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url("/fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
    font-family: Plus Jakarta Sans Bold;
    src: url("/fonts/PlusJakartaSans-Bold.ttf");
}

@font-face {
    font-family: Plus Jakarta Sans XBold;
    src: url("/fonts/PlusJakartaSans-ExtraBold.ttf");
}

// class
.RockSalt {
    font-family: RockSalt;
}

.transform {
    transform: rotate(-6.58deg);
}
