@font-face {
   font-family: RockSalt;
   src: url("/fonts/RockSalt-Regular.ttf");
}

@font-face {
   font-family: Sora;
   src: url("/fonts/Sora-Regular.ttf");
}

@font-face {
   font-family: SoraBold;
   src: url("/fonts/Sora-Bold.ttf");
}

@font-face {
   font-family: Inter;
   src: url("/fonts/Inter-Regular.ttf");
}

@font-face {
   font-family: Inter SemiBold;
   src: url("/fonts/Inter-SemiBold.ttf");
}

@font-face {
   font-family: Barlow Regular;
   src: url("/fonts/BarlowSemiCondensed-Regular.ttf");
}

@font-face {
   font-family: Inter Bold;
   src: url("/fonts/Inter-Bold.ttf")
}

@font-face {
   font-family: BarlowBold;
   src: url("/fonts/BarlowSemiCondensed-Bold.ttf");
}

@font-face {
   font-family: BarlowExtraBold;
   src: url("/fonts/BarlowSemiCondensed-ExtraBold.ttf");
}

@font-face {
   font-family: Roboto;
   src: url("/fonts/Roboto-Regular.ttf");
}

// class
.SoraBold {
   font-family: SoraBold, sans-serif;
}

.RockSalt {
   font-family: RockSalt;
}