@use "abstracts" as *;

.registration {
    background-image: url('/images/auth-images/register.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden !important;

    form {
        background-color: $primary !important;
        min-height: 100vh;
        overflow: hidden !important;

        .register-header {
            font-family: Plus Jakarta Sans XBold, sans-serif;
        }

        .btn-register {
            background-color: $orange !important;
            border-radius: 5px !important;
            font-family: Plus Jakarta Sans Bold, sans-serif;
        }

        .btn-register:hover {
            background-color: $orange;
        }

        a.terms {
            color: $orange;
            text-decoration: underline $orange;
        }

    }

}
