@use "abstracts" as *;

.create-posts {
    border-radius: 21px !important;
    background-color: $secondary !important;
    width: 100% !important;
    position: static !important;
    top: 0 !important;

    .profile-img-posts {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $img;
    }

    .input-file {
        width: 25%;
    }
}

.posts {
    border-radius: 21px !important;
    background-color: $secondary !important;
    position: static !important;
    top: 0 !important;
    width: 100% !important;

    .profile-img-posts {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $img;
    }

    img.user-post {
        width: 100% !important;
    }

    .btn-comment {
        background-color: $comment !important;
    }

    .btn-post {
        background-color: $orange;
        bottom: 0;
    }

    .btn-post:hover {
        background-color: $orange;
    }

    .btn-post:active {
        background-color: $orange !important;
        border: none !important;
    }

    .btn-delete {
        background-color: transparent !important;
        color: $orange !important;
    }

    .btn-delete:active {
        border: none !important;
    }

    .btn-icon {
        cursor: pointer;
    }

    li a.dropdown-item {
        color: $orange !important;
    }

    li a.dropdown-item:hover {
        background-color: $white;
        color: $orange !important;
    }

}

@media (max-width: 575.98px) {
    .input-file {
        width: 100% !important;
    }
}
